<!DOCTYPE html>
<html>

<head>
       @RenderSection("headlink",required:true)
</head>

<body>

    <div class="site-wrap">
        @Html.Partial("~/Views/Shared/PartialHeader.cshtml")
        @RenderBody();
        @Html.Partial("~/Views/Shared/PartialFooter.cshtml")
    </div>
    <script src="~/Assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/js/jquery-ui.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/js/aos.js"></script>
    <script src="~/Assets/js/main.js"></script>

</body>

</html>

