<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

                <div class="block-7">
                    <h3 class="footer-heading mb-4">Dịch vụ</h3>
                    <ul class="list-unstyled">
                        <li><a href="/Home/Exchange">Chính sách đổi trả</a></li>
                        <li><a href="/Home/Shipping">Chính sách giao hàng</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                <h3 class="footer-heading mb-4">Hỗ trợ khách hàng</h3>
                <ul class="list-unstyled">
                    <li><a href="/Home/Question">Câu hỏi thường gặp</a></li>
                    <li><a href="/Home/Security">Chính sách bảo mật</a></li>
                    <li><a href="/Home/About">Về chúng tôi</a></li>
                    <li><a href="/Home/Contact">Liên hệ</a></li>
                </ul>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Thông tin liên hệ</h3>
                    <ul class="list-unstyled">
                        <li class="address">236 Hoàng Quốc Việt, Bắc Từ Liêm, Hà Nội</li>
                        <li class="phone"><a href="tel://0359999574">035.9999.574</a></li>
                        <li class="email">pharmacy.hn@gmail.com</li>
                    </ul>
                </div>


            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <p>
                    
                        Nhà thuốc Online designed by Phan Thanh Tùng and Hoàng Văn Việt
                    
                </p>
            </div>
            <div class="col-md-12">
                <p>
                    Địa chỉ: số 54, ngõ 200, đường Hoàng Sâm, phường Nghĩa Đô, quận Cầu Giấy, thành phố Hà Nội
                </p>
            </div>
            <div class="col-md-12">
                <p>
                    <script>document.write(new Date().getHours());</script> giờ
                    <script>document.write(new Date().getMinutes());</script> phút
                    <script>document.write(new Date().getSeconds());</script> giây, ngày
                    <script>document.write(new Date().getDate());</script> tháng
                    <script>document.write(new Date().getMonth());</script> năm
                    <script>document.write(new Date().getFullYear());</script>
                </p>
            </div>
        </div>
    </div>
</footer>
