    <div class="site-section bg-secondary bg-image" style="background-image: url('../../Assets/images/bg_2.jpg');">
        <div class="container">
            <div class="row align-items-stretch">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('../../Assets/images/bg_1.jpg');">
                        <div class="banner-1-inner align-self-center">
                            <h2>Sản phẩm thuốc</h2>
                            <p>
                                <strong>
                                    Chúng tôi sẽ đưa những thuốc tốt nhất đáp ứng nhu cầu của khách hàng
                                </strong>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('../../Assets/images/bg_2.jpg');">
                        <div class="banner-1-inner ml-auto  align-self-center">
                            <h2>Đánh giá bởi chuyên gia</h2>
                            <p>
                                <strong>
                                    Nhà thuốc Pharmacy luôn là sự lựa chọn hàng đầu của đội ngũ y bác sĩ chúng tôi
                                    <br> Bác sỹ: John Wick
                                </strong>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
