
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headlink
{
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Assets/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/css/aos.css">
    <link rel="stylesheet" href="~/Assets/css/a.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
}
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="/Home/Index">Trang chủ</a> <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Về chúng tôi</strong>
            </div>
        </div>
    </div>
</div>
<div class="site-blocks-cover inner-page" style="background-image: url('../../Assets/images/hero_1.jpg'); ">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto align-self-center">
                <div class=" text-center">
                    <h1>Về nhóm chúng tôi</h1>
                    <p>
                        Gặp nhau từ ngày đầu tiên quyết định thi vào lớp tốt nhất của học viện.
                        Sau một thời gian học cùng nhau, hai người chúng tôi đã quyết định sẽ cùng làm phát triển
                        nên một ứng dụng quản lý nhà thuốc - điều mà rất ít sinh viên ngành CNTT muốn làm.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="block-16">
                    <figure>
                        <img src="~/Assets/images/bg_2.jpg" alt="Image placeholder" class="img-fluid rounded">
                    </figure>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">Hành trình phát triển của nhóm</h2>
                </div>
                <p>mở bài</p>
                <p>thân bài</p>
                <p>kết bài</p>

            </div>
        </div>
    </div>
</div>



<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 order-md-2">
                <div class="block-16">
                    <figure>
                        <img src="~/Assets/images/cert.jpg" alt="Image placeholder" class="img-fluid rounded">
                    </figure>
                </div>
            </div>
            <div class="col-md-5 mr-auto">
                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">Chứng chỉ quản lý nhà thuốc</h2>
                </div>
                <img src="~/Assets/images/logo.jpg" alt="Image placeholder" class="img-fluid rounded">
                <p class="text-black"></p>

            </div>
        </div>
    </div>
</div>

<div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-truck text-primary"></span>
                </div>
                <div class="text">
                    <h2>Giao hàng miễn phí</h2>
                    <p>Chúng tôi đã và đang hợp tác với công ty vận chuyển VIETTUNG-Express.</p>
                    <p>Một công ty rất đáng tin cậy với dịch vụ 5 sao.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-refresh2 text-primary"></span>
                </div>
                <div class="text">
                    <h2>Miễn phí đổi trả</h2>
                    <p>Chúng tôi có dịch vụ đổi trả cho những đơn hàng thỏa mãn các yêu cầu.</p>
                    <p>Vẫn còn nguyên hóa đơn và sản phẩm.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-help text-primary"></span>
                </div>
                <div class="text">
                    <h2>Chăm sóc khách hàng</h2>
                    <p>Chúng tôi có bộ phận chăm sóc khách hàng rất tốt.</p>
                    <p>Tuy nhiên, các bạn cần liên hệ trước qua thông tin liên hệ ở dưới.</p>
                    <p>Nhưng đừng lo, chúng tôi sẽ liên hệ ngay với bạn ngay khi nhận được.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>NHÓM 2 NGƯỜI BẠN</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 mb-5">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/Assets/images/person_1.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Hoàng Văn Việt</h3>
                            <p class="block-38-subheading">CEO/Founder</p>
                        </div>
                        <div class="block-38-body">
                            <p>Người Hải Phòng.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-5">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/Assets/images/person_2.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Phan Thanh Tùng</h3>
                            <p class="block-38-subheading">Co-Founder</p>
                        </div>
                        <div class="block-38-body">
                            <p>Người Hà Nội.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


