@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headlink{
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="~/Assets/fonts/icomoon/style.css">
        <link rel="stylesheet" type="text/css" href="~/Assets/scss/style.css">
        <link rel="stylesheet" type="text/css" href="~/Assets/css/detail.css">
        <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Assets/css/magnific-popup.css">
        <link rel="stylesheet" href="~/Assets/css/jquery-ui.css">
        <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/Assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/Assets/css/aos.css">
        <link rel="stylesheet" href="~/Assets/css/a.css">
        <link rel="stylesheet" href="~/Assets/css/style.css">
}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/Home/Index">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Câu hỏi thường gặp</strong></div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-static">
    <div class="content">
        <div id="news-detail">
            <font color="black">
                <h3 class="news-title">CÂU HỎI THƯỜNG GẶP</h3>
                <div class="news-content">
                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>1. Các sản phẩm trên web: Pharmacy có phải hàng chính hãng không?</strong></span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Trả lời: Các sản phẩm tại Pharmacy được&nbsp;nhập khẩu chính thức từ nhà sản xuất. Điều này đảm bảo nguồn gốc, xuất xứ, chất lượng và giá thành của mỗi sản phẩm luôn được đảm bảo khi đến với khách hàng</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>2. Tôi ở xa có thể mua được sản phẩm của nhà thuốc như thế nào?</strong></span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Trả lời: Quý khách hàng sinh sống tại mọi địa phương trên cả nước đều có thể đặt mua hàng tại Pharmacy qua hai hình thức sau:</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Cách 1: Đặt hàng tại website Pharmacy.vn</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Cách 2: Đặt hàng qua hotline <strong>035 9999 574</strong></span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>3. Khi nhận sản phẩm, tôi thấy hộp đựng bên ngoài bị méo mó và rách một chút. Liệu như vậy sản phẩm có an toàn không?</strong></span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Trả lời: Trước khi chuyển hàng cho khách, công ty luôn tiến hành lần lượt các bước: Dán tem, ghi hoá đơn và đóng gói cẩn thận. Khi nhận hàng, quý khách vui lòng xem kĩ lại sản phẩm bên trong. Nếu sản phẩm vẫn còn nguyên tem dán và đơn hàng, quý khách có thể hoàn toàn an tâm về chất lượng. Có thể do sơ suất trong quá trình vận chuyển nên hộp đựng bên ngoài sản phẩm không còn nguyên vẹn. Tuy nhiên, điều này không làm ảnh hưởng tới chất lượng sản phẩm bên trong.&nbsp;&nbsp;</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>4. Một số sản phẩm trên web tôi thấy đắt hơn so với các web khác?</strong></span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Trả lời: Lý do của điều này là bởi các sản phẩm tại Pharmacy đều được nhập khẩu chính hãng, không phải các sản phẩm trôi nổi có nguồn gốc, xuất xứ không rõ ràng. Hơn nữa, khi nhập khẩu sản phẩm từ nhà cung cấp, công ty luôn cam kết không phá giá thị trường. Để hỗ trợ người tiêu dùng tối đa trong việc mua sản phẩm, Pharmacy luôn đưa ra những mức giá cạnh tranh cùng các chương trình ưu đãi phù hợp trong chính sách bán hàng của mình.&nbsp;</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>5. Khi nhận sản phẩm, nếu không hài lòng về sản phẩm đó, tôi có được hoàn trả lại sản phẩm và đổi sang sản phẩm khác không?</strong></span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif;">Trong trường hợp quý khách muốn đổi sang mua sản phẩm khác, công ty sẵn sàng nhận lại sản phẩm đã bán ra. Quý khách vui lòng thanh toán phí vận chuyển lần 2 cho công ty.</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Trong trường hợp không mua sản phẩm nữa, quý khách vui lòng thanh toán phí vận chuyển cho công ty. Khi đã nhận lại sản phẩm, công ty sẽ lập tức hoàn trả đầy đủ tiền hàng cho quý khách. Quý khách vui lòng lưu ý một số điều dưới đây khi trả lại sản phẩm:</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">&nbsp; + Kiểm tra hàng ngay khi nhận được</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;+ Sản phẩm vẫn còn mới, chưa sử dụng</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">&nbsp;+ Tem không bị rách, hỏng.</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>6. Khi mua sản phẩm tại Pharmacy, tôi thanh toán như thế nào?</strong></span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif;">Tùy thuộc điều kiện của mình, quý khách có thể lựa chọn một trong ba cách thanh toán dưới đây:</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">&nbsp;-&nbsp; &nbsp; Thanh toán cho người giao hàng.</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">-&nbsp; &nbsp; Thanh toán qua ngân hàng hoặc ATM</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">-&nbsp; &nbsp; Thanh toán trực tiếp tại địa chỉ Pharmacy:&nbsp;</span></span><span style="text-align: justify; font-family: arial, helvetica, sans-serif; font-size: 16px;">số 54, ngõ 200, đường Hoàng Sâm, phường Nghĩa Đô, quận Cầu Giấy, thành phố Hà Nội</span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>7. Trước đây tôi đã mua sản phâm của công ty rồi, nếu bây giờ mua tiếp, tôi có được giảm giá không?</strong></span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif;">Khi mua bất kì sản phẩm nào của công ty, quý khách sẽ được tích một số điểm nhất định. Với số điểm này, quý khách sẽ được giảm giá trong những lần mua sau.</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif;">Ngoài ra, đối với các khách hàng thân thiết, Pharmacy thường xuyên có các chương trình tặng mã giảm giá/ thẻ giảm giá để hỗ trợ quý khách trong việc sử dụng sản phẩm</span><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>8. Sau bao lâu tôi có thể nhận được sản phẩm mình đã đặt?</strong></span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">-&nbsp; &nbsp; &nbsp;Đối với khách hàng tại Hà Nội: Trong vòng 24h - 48h, quý khách sẽ nhận được sản phẩm mình đã đặt&nbsp;</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">-&nbsp; &nbsp; &nbsp; Đối với khách hàng tại các tỉnh thành khác: Trong vòng 2 - 5 ngày, quý khách sẽ nhận được sản phẩm.</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>9. Tôi muốn được biết về phí giao hàng của công ty!</strong></span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">- Với đơn hàng từ 300.000 đồng trở lên: Quý khách được miễn phí vận chuyển.</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">- Với đơn hàng dưới 300.000 đồng:</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">+ Nếu quý khách sống tại nội thành Hà Nội và TP. HCM: Phí giao hàng là 25.000 đồng</span></span></p>

                    <p style="text-align: justify;"><span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif;">+ Nếu quý khách sống tại ngoại thành và các tỉnh thành khác: Phí giao hàng từ 30.000 - 35.000 đồng.</span></span></p>
                </div><!--end: .detail-->
            </font>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2 class="text-uppercase">Nhận xét & Đánh giá</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 block-3 products-wrap">
                <div class="nonloop-block-3 no-direction owl-carousel">

                    <div class="testimony">
                        <blockquote>
                            <img src="~/Assets/images/person_1.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                            <p>&ldquo;Tôi rất hài lòng về dịch vụ và nhà thuốc giao hàng rất nhanh, đúng mẫu mã.&rdquo;</p>
                        </blockquote>

                        <p>&mdash; Kelly Holmes</p>
                    </div>

                    <div class="testimony">
                        <blockquote>
                            <img src="~/Assets/images/person_2.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                            <p>
                                &ldquo;Tôi rất hài lòng về dịch vụ và nhà thuốc giao hàng rất nhanh, đúng mẫu mã.&rdquo;
                            </p>
                        </blockquote>

                        <p>&mdash; Rebecca Morando</p>
                    </div>

                    <div class="testimony">
                        <blockquote>
                            <img src="~/Assets/images/person_3.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                            <p>
                                &ldquo;Tôi rất hài lòng về dịch vụ và nhà thuốc giao hàng rất nhanh, đúng mẫu mã.&rdquo;
                            </p>
                        </blockquote>

                        <p>&mdash; Lucas Gallone</p>
                    </div>

                    <div class="testimony">
                        <blockquote>
                            <img src="~/Assets/images/person_4.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                            <p>
                                &ldquo;Tôi rất hài lòng về dịch vụ và nhà thuốc giao hàng rất nhanh, đúng mẫu mã.&rdquo;
                            </p>
                        </blockquote>

                        <p>&mdash; Andrew Neel</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Home/PartialView/Comments.cshtml");