@{
    ViewBag.Title = "Security";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headlink
{
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Assets/fonts/icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/scss/style.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/detail.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Assets/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/css/aos.css">
    <link rel="stylesheet" href="~/Assets/css/a.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/Home/Index">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Chính sách bảo mật</strong></div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-static">
    <div class="content">
        <div id="news-detail">
            <font color="black">
                <h3 class="news-title">CHÍNH SÁCH BẢO MẬT</h3>
                <div class="news-content">
                    <p style="text-align: justify;">
                        <span style="font-size:16px;">
                            <span style="font-family:arial,helvetica,sans-serif;">
                                <h4><strong>1. Mục đích, phạm vi thu thập thông tin</strong></h4>
                                Nhà thuốc Tùng Việt chỉ thu thập
                                thông tin liên lạc cần thiết để thực hiện giao dịch giữa website với khách hàng mà không lấy
                                thêm thông tin gì khác. Thông tin của khách hàng sẽ chỉ được lưu lại khi khách hàng tạo tài
                                khoản và đăng nhập với tài khoản của mình. Nhà thuốc Tùng Việt thu thập và sử dụng thông tin cá nhân của
                                khách hàng với mục đích phù hợp và hoàn toàn tuân thủ theo pháp luật. Nhà thuốc Tùng Việt cam kết không
                                chia sẻ hay sử dụng thông tin cá nhân của khách hàng cho một bên thứ 3 nào khác với mục đích lợi
                                nhuận. Thông tin của khách hàng sẽ chỉ được sử dụng trong nội bộ Nhà thuốc. Khi cần thiết,
                                chúng tôi có thể sử dụng những thông tin này để liên hệ trực tiếp với khách hàng dưới các hình
                                thức như: gửi thư, đơn đặt hàng, thư cảm ơn. Khách hàng có thể nhận được thư định kỳ cung cấp
                                thông tin sản phẩm, dịch vụ mới, thông tin về các chương trình khuyến mãi.
                    </p>
                    <p><strong><h4>2. Phạm vi sử dụng thông tin</h4></strong></p>
                    <p>Những thông tin trên chỉ được sử dụng cho những mục đích sau đây:</p>
                    <p>
                        • Giao hàng cho các đơn hàng được đặt mua trên website.
                        <br>• Thông báo giao hàng và hỗ trợ khách hàng.
                        <br>• Cung cấp thông tin sản phẩm.
                        <br>• Xử lý đơn đặt hàng và cung cấp dịch vụ của chúng tôi theo yêu cầu của khách hàng<br>• Chia sẻ cho
                        dịch vụ chuyển phát nhanh để giao hàng.
                    </p>
                    <p>
                        Ngoài ra, chúng tôi sẽ sử dụng thông tin của khách hàng trong việc quản lý tài khoản,
                        giao dịch tài chính, kiểm tra dữ liệu để cải thiện tính năng của website; nhằm mang đến cho khách
                        hàng những trải nghiệm tốt nhất khi ghé thăm website của chúng tôi.
                    </p>
                    <p>
                        Chi tiết đơn hàng của khách hàng sẽ được giữ bảo mật và chỉ được cung cấp cho chủ đơn
                        hàng. Chúng tôi có quyền không cung cấp thông tin nếu khách hàng không cung cấp chính xác thông tin
                        xác nhận theo yêu cầu từ Nhà thuốc Tùng Việt. Khách hàng có thể theo dõi đơn hàng của mình trong tài khoản
                        của mình và bảo đảm không cho bên thứ 3 biết thông tin. Chg tôi sẽ không chịu trách nhiệm về
                        việc khách hàng nhập sai mật khẩu trừ khi đó là lỗi từ phía chúng tôi.
                    </p>
                    <p><strong><h4>3. Thời gian lưu trữ thông tin</h4></strong></p>
                    <p>
                        Thông tin của khách hàng sẽ được giữ đúng trong thời hạn pháp luật quy định hoặc chỉ sử
                        dụng cho mục đích mà thông tin đó được thu thập.
                    </p>
                    <p><strong><h4>4. Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</h4></strong></p>
                    <p>
                        • Công ty cổ phần dược phẩm Tùng Việt
                        <br>• Người đại diện pháp lý: Hoàng Văn Việt
                        <br>• Địa chỉ: số 54, ngõ 200, đường Hoàng Sâm, phường Nghĩa Đô, quận Cầu Giấy, thành phố Hà Nội
                        <br>• Hotline miễn phí : 19000000
                        <br>• Email:
                        <a href="mailto:pharmacy.hn@gmail.com">pharmacy.hn@gmail.com</a>
                    </p>
                    <p>
                        <strong>
                            <h4>
                                5. Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của
                                mình
                            </h4>
                        </strong>
                    </p>
                    <p>
                        Bất cứ thời điểm nào khách hàng cũng có thể truy cập và chỉnh sửa những thông tin cá nhân
                        của mình theo các bước hướng dẫn thích hợp mà chúng tôi cung cấp.
                    </p>
                    <p>
                        <strong><h4>6. Cam kết bảo vệ thông tin cá nhân khách hàng</h4></strong>
                        <br>Nhà thuốc Tùng Việt luôn đảm bảo rằng mọi thông tin cá nhân của khách hàng sẽ được lưu giữ an toàn.
                        Ngoại trừ các trường hợp về việc sử dụng thông tin cá nhân như đã nêu trong chính sách này, chúng tôi cam kết sẽ
                        không tiết lộ thông tin cá nhân khách hàng ra ngoài vì mục đích thương mại. Chúng tôi có thể tiết
                        lộ hoặc cung cấp thông tin cá nhân của khách hàng trong các trường hợp thật sự cần thiết như
                        sau:
                        <br>• Khi có yêu cầu của cơ quan pháp luật.
                        <br>• Trong trường hợp mà điều đó giúp chúng tôi bảo vệ quyền lợi chính đáng của mình trước pháp luật.
                        <br>• Tình huống khẩn cấp và cần thiết để bảo đảm quyền an toàn cá nhân của các thành viên khác.
                    </p>
                    <p>
                        <strong><h4>7. Thay đổi chính sách bảo mật</h4></strong>
                        <br>Nhà thuốc Tùng Việt có quyền thay đổi và chỉnh sửa chính sách bảo mật này vào bất kỳ lúc nào. Chúng tôi sẽ cập nhật những thay đổi trên
                        website.
                        <br>Nếu khách hàng có khiếu nại hay đóng góp về chính sách của Nhà thuốc Tùng Việt , xin vui lòng liên hệ với chúng tôi qua hai hình
                        thức sau:
                        <br>• Hotline miễn phí: 19000000
                        <br>• Email:
                        <ahref ="mailto:pharmacy.hn@gmail.com">pharmacy.hn@gmail.com</a>
                    </p></strong></span></span></p>

            </font>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="title-section text-center col-12">
            <h2 class="text-uppercase">Nhận xét & Đánh giá</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 block-3 products-wrap">
            <div class="nonloop-block-3 no-direction owl-carousel">

                <div class="testimony">
                    <blockquote>
                        <img src="~/Assets/images/person_1.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                        <p>&ldquo;Tôi rất hài lòng về dịch vụ và nhà thuốc giao hàng rất nhanh, đúng mẫu mã.&rdquo;</p>
                    </blockquote>

                    <p>&mdash; Kelly Holmes</p>
                </div>

                <div class="testimony">
                    <blockquote>
                        <img src="~/Assets/images/person_2.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                        <p>
                            &ldquo;Tôi rất hài lòng về dịch vụ và nhà thuốc giao hàng rất nhanh, đúng mẫu mã.&rdquo;
                        </p>
                    </blockquote>

                    <p>&mdash; Rebecca Morando</p>
                </div>

                <div class="testimony">
                    <blockquote>
                        <img src="~/Assets/images/person_3.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                        <p>
                            &ldquo;Tôi rất hài lòng về dịch vụ và nhà thuốc giao hàng rất nhanh, đúng mẫu mã.&rdquo;
                        </p>
                    </blockquote>

                    <p>&mdash; Lucas Gallone</p>
                </div>

                <div class="testimony">
                    <blockquote>
                        <img src="~/Assets/images/person_4.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                        <p>
                            &ldquo;Tôi rất hài lòng về dịch vụ và nhà thuốc giao hàng rất nhanh, đúng mẫu mã.&rdquo;
                        </p>
                    </blockquote>

                    <p>&mdash; Andrew Neel</p>
                </div>

            </div>
        </div>
    </div>
</div>
        </div>

@Html.Partial("~/Views/Home/PartialView/Comments.cshtml");