
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="Assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="Assets/css/magnific-popup.css">
    <link rel="stylesheet" href="Assets/css/jquery-ui.css">
    <link rel="stylesheet" href="Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="Assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="Assets/css/aos.css">
    <link rel="stylesheet" href="Assets/css/style.css">

</head>

<body>

    <div class="site-wrap">


        <div class="site-navbar py-2">
            <div class="search-wrap">
                <div class="container">
                    <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
                    <form action="#" method="post">
                        <input type="text" class="form-control" placeholder="Tìm thuốc, dược phẩm,...">
                    </form>
                </div>
            </div>
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <div class="site-logo">
                            <a href="#" class="js-logo-clone">PHARMACY</a>
                        </div>
                    </div>
                    <div class="main-nav d-none d-lg-block">
                        <nav class="site-navigation text-right text-md-center" role="navigation">
                            <ul class="site-menu js-clone-nav d-none d-lg-block">
                                <li class="active"><a href="#">TRANG CHỦ</a></li>
                                <li><a href="#">DƯỢC MỸ PHẨM</a></li>
                                <li class="has-children">
                                    <a href="#">THỰC PHẨM CHỨC NĂNG</a>
                                    <ul class="dropdown">
                                        <li><a href="#">MẸ VÀ BÉ</a></li>
                                        <li class="has-children">
                                            <a href="#">SINH LÝ - NỘI TIẾT</a>
                                            <ul class="dropdown">
                                                <li><a href="#">NAM</a></li>
                                                <li><a href="#">NỮ</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">VITAMINS </a></li>
                                        <li><a href="#">TRỊ BỆNH </a></li>

                                    </ul>
                                </li>
                                <li><a href="#">THUỐC ĐÔNG Y</a></li>
                                <li><a href="#">THUÔC TÂY Y</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="icons">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Tìm kiếm" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Giỏ hàng" class="icons-btn d-inline-block bag">
                            <span class="icon-shopping-bag"></span>
                            <span class="number">0</span>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Đăng nhập" class="icons-btn d-inline-block bag">
                            <span class="icon-user-circle-o"></span>
                        </a>
                        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none">
                            <span class="icon-menu"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0">
                        <a href="index.html">Trang chủ</a> <span class="mx-2 mb-0">/</span> <a href="shop.html">Dược mỹ phẩm</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Ibuprofen Tablets, 200mg</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 mr-auto">
                        <div class="border text-center">
                            <img src="Assets/images/product_07_large.png" alt="Image" class="img-fluid p-5">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-black">Ibuprofen Tablets, 200mg</h2>
                        <p>
                            Thông tin về thuốc
                        </p>


                        <p><del>95.000đ</del>  <strong class="text-primary h4">55.000đ</strong></p>



                        <div class="mb-5">
                            <div class="input-group mb-3" style="max-width: 220px;">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                </div>
                                <input type="text" class="form-control text-center" value="1" placeholder=""
                                       aria-label="Example text with button addon" aria-describedby="button-addon1">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                </div>
                            </div>

                        </div>
                        <p><a href="#cart.html" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">THÊM VÀO GIỎ HÀNG</a></p>

                        <div class="mt-5">
                            <ul class="nav nav-pills mb-3 custom-pill" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                                       aria-controls="pills-home" aria-selected="true">Thông tin đặt hàng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                                       aria-controls="pills-profile" aria-selected="false">Thông tin chi tiết</a>
                                </li>

                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <table class="table custom-table">
                                        <thead>
                                        <th>Mã</th>
                                        <th>Thành phần</th>
                                        <th>Đ/Vị</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">OTC022401</th>
                                                <td>Giảm đau: Acetaminophen PM Extra-Strength Caplets, 500 mg, 100/Bottle</td>
                                                <td>1 BT</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">OTC022401</th>
                                                <td>Giảm đau: Acetaminophen PM Extra-Strength Caplets, 500 mg, 100/Bottle</td>
                                                <td>144/CS</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">OTC022401</th>
                                                <td>Giảm đau: Acetaminophen PM Extra-Strength Caplets, 500 mg, 100/Bottle</td>
                                                <td>1 EA</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                                    <table class="table custom-table">

                                        <tbody>
                                            <tr>
                                                <td>MÃ</td>
                                                <td class="bg-light">999_200_40_0</td>
                                            </tr>
                                            <tr>
                                                <td>CHỈ SỬ DỤNG ĐỂ CẢI THIỆN SỨC KHỎE</td>
                                                <td class="bg-light">No</td>
                                            </tr>
                                            <tr>
                                                <td>KHÔNG CHỨA LATEX</td>
                                                <td class="bg-light">Yes, No</td>
                                            </tr>
                                            <tr>
                                                <td>CÁCH SỬ DỤNG</td>
                                                <td class="bg-light">Topical</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="site-section bg-secondary bg-image" style="background-image: url('Assets/images/bg_2.jpg');">
            <div class="container">
                <div class="row align-items-stretch">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('Assets/images/bg_1.jpg');">
                            <div class="banner-1-inner align-self-center">
                                <h2>Sản phẩm thuốc</h2>
                                <p>
                                    <strong>
                                        Chúng tôi sẽ đưa những thuốc tốt nhất đáp ứng nhu cầu của khách hàng
                                    </strong>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('Assets/images/bg_2.jpg');">
                            <div class="banner-1-inner ml-auto  align-self-center">
                                <h2>Đánh giá bởi chuyên gia</h2>
                                <p>
                                    <strong>
                                        Nhà thuốc Pharmacy luôn là sự lựa chọn hàng đầu của đội ngũ y bác sĩ chúng tôi
                                        <br> Bác sỹ: John Wick
                                    </strong>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

                        <div class="block-7">
                            <h3 class="footer-heading mb-4">Dịch vụ</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">Hướng dẫn mua hàng</a></li>
                                <li><a href="#">Hình thức thanh toán</a></li>
                                <li><a href="#">Chính sách đổi trả</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                        <h3 class="footer-heading mb-4">Hỗ trợ khách hàng</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Câu hỏi thường gặp</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Điều khoản</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Thông tin liên hệ</h3>
                            <ul class="list-unstyled">
                                <li class="address">236 Hoàng Quốc Việt, Bắc Từ Liêm, Hà Nội</li>
                                <li class="phone"><a href="tel://0359999574">035.9999.574</a></li>
                                <li class="email">pharmacy.hn@gmail.com</li>
                            </ul>
                        </div>


                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            <b>
                                Nhà thuốc Online designed by Phan Thanh Tùng and Hoàng Văn Việt
                            </b>
                        </p>
                    </div>
                    <div class="col-md-12">
                        <p>
                            <b>Địa chỉ: số 54, ngõ 200, đường Hoàng Sâm, phường Nghĩa Đô, quận Cầu Giấy, thành phố Hà Nội</b>
                        </p>
                    </div>
                    <div class="col-md-12">
                        <p>
                            <script>document.write(new Date().getHours());</script> giờ
                            <script>document.write(new Date().getMinutes());</script> phút
                            <script>document.write(new Date().getSeconds());</script> giây,
                            ngày
                            <script>document.write(new Date().getDate());</script>
                            tháng
                            <script>document.write(new Date().getMonth());</script>
                            năm
                            <script>document.write(new Date().getFullYear());</script>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="Assets/js/jquery-3.3.1.min.js"></script>
    <script src="Assets/js/jquery-ui.js"></script>
    <script src="Assets/js/popper.min.js"></script>
    <script src="Assets/js/bootstrap.min.js"></script>
    <script src="Assets/js/owl.carousel.min.js"></script>
    <script src="Assets/js/jquery.magnific-popup.min.js"></script>
    <script src="Assets/js/aos.js"></script>

    <script src="Assets/js/main.js"></script>

</body>

</html>
